<a href="https://colab.research.google.com/github/yojulab/report_DebuggingGPT/blob/main/ModelDeployments/SentenceSimilarity_nltk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class_names = ["n3VNCb"]
# images = [self.driver.find_elements_by_class_name(class_name) for class_name in class_names if len(self.driver.find_elements_by_class_name(class_name)) != 0 ][0]

In [ ]:
for class_name in class_names:
  print(class_name)

n3VNCb

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({"Person":
                   ["John", "Myla", "Lewis", "John", "Myla"],
                   "Age": [24., np.nan, 21., 33, 26],
                   "Single": [False, True, True, True, False]})

In [ ]:
df.count(axis='rows')

Person    5
Age       4
Single    5
dtype: int64

In [ ]:
df

  Person   Age  Single
0   John  24.0   False
1   Myla   NaN    True
2  Lewis  21.0    True
3   John  33.0    True
4   Myla  26.0   False

In [ ]:
conditions = ((df['Person'] == 'Lewis') | (df['Person'] == 'Myla'))
conditions

0    False
1     True
2     True
3    False
4     True
Name: Person, dtype: bool

In [ ]:
file_name = 'buildings12.jpeg'

In [ ]:
file_name.split('.')[0]

'buildings12'

In [ ]:
import cv2

In [ ]:
img = cv2.imread('./buildings12.jpeg')

In [ ]:
img.shape

(1080, 1920, 3)

In [ ]:
isinstance(img,type(None))

False

In [ ]:
def read_any_image(file_abspath):
    try:
        # gif 처리
        if str(file_abspath).lower().endswith('.gif'):
            gif = cv2.VideoCapture(file_abspath)
            ret, frame = gif.read()  # ret=True if it finds a frame else False.
            if ret:
                return frame
        else:
            return cv2.imread(file_abspath)
    except Exception as e:
        print(e)
        return None

In [ ]:
image = read_any_image('./건물숲34.gif')
image.shape

(386, 640, 3)

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from sklearn.metrics.pairwise import cosine_similarity

# Define the two sentences
sentence1 = "The cat sat on the mat."
sentence2 = "The cat slept on the mat."

# Tokenize the sentences and remove stop words
stop_words = set(stopwords.words('english'))
word_tokens1 = [word for word in word_tokenize(sentence1.lower()) if word.isalpha() and word not in stop_words]
word_tokens2 = [word for word in word_tokenize(sentence2.lower()) if word.isalpha() and word not in stop_words]

# Lemmatize the words
lemmatizer = WordNetLemmatizer()
lemmatized_words1 = [lemmatizer.lemmatize(word) for word in word_tokens1]
lemmatized_words2 = [lemmatizer.lemmatize(word) for word in word_tokens2]

# Create the vectors for the two sentences
all_words = set(lemmatized_words1 + lemmatized_words2)
vector1 = [lemmatized_words1.count(word) for word in all_words]
vector2 = [lemmatized_words2.count(word) for word in all_words]

# Calculate the cosine similarity between the two vectors
similarity = cosine_similarity([vector1, vector2])[0][1]

print("Similarity between the two sentences: ", similarity)

Similarity between the two sentences:  0.6666666666666669

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!